BEGIN TRANSACTION;
CREATE TABLE "auth_group" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(150) NOT NULL UNIQUE);
CREATE TABLE "auth_group_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE "auth_permission" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "content_type_id" integer NOT NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "codename" varchar(100) NOT NULL, "name" varchar(255) NOT NULL);
INSERT INTO "auth_permission" VALUES(1,1,'add_logentry','Can add log entry');
INSERT INTO "auth_permission" VALUES(2,1,'change_logentry','Can change log entry');
INSERT INTO "auth_permission" VALUES(3,1,'delete_logentry','Can delete log entry');
CREATE TABLE "auth_user" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "password" varchar(128) NOT NULL, "last_login" datetime NULL, "is_superuser" bool NOT NULL, "username" varchar(150) NOT NULL UNIQUE, "last_name" varchar(150) NOT NULL, "email" varchar(254) NOT NULL, "is_staff" bool NOT NULL, "is_active" bool NOT NULL, "date_joined" datetime NOT NULL, "first_name" varchar(150) NOT NULL);
INSERT INTO "auth_user" VALUES(1,'pbkdf2_sha256$216000$HmNeIJ8bw1EA$9luaGs+k5Iy7/0EO8cxePCO55cObxGbg051VDQhFpbc=','2021-06-09 22:55:46.856939',1,'dennisivy','','dennisivy@email.com',1,1,'2021-03-12 01:55:25.433135','');
INSERT INTO "auth_user" VALUES(2,'pbkdf2_sha256$180000$o6XuaAaxALxY$k4RoyE5SOs2278BBIWbmp3AC4h0jfv6XvFc0kfh2xyg=','2021-03-12 03:03:40.902903',0,'john','','',0,1,'2021-03-12 02:57:19.146478','');
INSERT INTO "auth_user" VALUES(3,'pbkdf2_sha256$180000$oI8Gm9rUDsJx$qngyQWsN2zsbuB8NhNDpDHTLVK1q2zzBWVJoDu/eJ6M=','2021-03-12 04:01:59.818051',0,'sulamita','','',0,1,'2021-03-12 03:17:31.797114','');
CREATE TABLE "auth_user_groups" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE "auth_user_user_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE "authtoken_token" ("key" varchar(40) NOT NULL PRIMARY KEY, "created" datetime NOT NULL, "user_id" integer NOT NULL UNIQUE REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE "base_task" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "title" varchar(200) NOT NULL, "description" text NULL, "complete" bool NOT NULL, "created" datetime NOT NULL, "user_id" integer NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "_order" integer NOT NULL);
INSERT INTO "base_task" VALUES(6,'Eat sandwich','',0,'2021-03-12 03:04:18.371961',NULL,0);
INSERT INTO "base_task" VALUES(7,'Buy House','',0,'2021-03-12 03:07:04.712468',2,0);
INSERT INTO "base_task" VALUES(8,'Rake leafs','',0,'2021-03-12 03:07:10.714555',2,0);
CREATE TABLE "django_admin_log" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "action_time" datetime NOT NULL, "object_id" text NULL, "object_repr" varchar(200) NOT NULL, "change_message" text NOT NULL, "content_type_id" integer NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "action_flag" smallint unsigned NOT NULL CHECK ("action_flag" >= 0));
INSERT INTO "django_admin_log" VALUES(1,'2021-03-12 01:57:22.837715','1','Get Milk','[{"added": {}}]',7,1,1);
INSERT INTO "django_admin_log" VALUES(2,'2021-03-12 01:57:30.874153','2','Wash Car','[{"added": {}}]',7,1,1);
INSERT INTO "django_admin_log" VALUES(3,'2021-03-12 01:57:35.180781','3','Clean House','[{"added": {}}]',7,1,1);
CREATE TABLE "django_content_type" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app_label" varchar(100) NOT NULL, "model" varchar(100) NOT NULL);
INSERT INTO "django_content_type" VALUES(1,'admin','logentry');
INSERT INTO "django_content_type" VALUES(2,'auth','permission');
INSERT INTO "django_content_type" VALUES(3,'auth','group');
CREATE TABLE "django_migrations" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app" varchar(255) NOT NULL, "name" varchar(255) NOT NULL, "applied" datetime NOT NULL);
INSERT INTO "django_migrations" VALUES(1,'contenttypes','0001_initial','2021-03-12 01:53:31.059589');
INSERT INTO "django_migrations" VALUES(2,'auth','0001_initial','2021-03-12 01:53:31.080582');
INSERT INTO "django_migrations" VALUES(3,'admin','0001_initial','2021-03-12 01:53:31.091579');
CREATE TABLE "django_session" ("session_key" varchar(40) NOT NULL PRIMARY KEY, "session_data" text NOT NULL, "expire_date" datetime NOT NULL);
INSERT INTO "django_session" VALUES('gwpw04gdgej5ltje32duvr0146qdy7kt','ZjM5NDMzOGQ0N2ZjOTY1MzZkNzFjNzkzMTU4OWFmM2MxMDA1ZmJmNDp7Il9hdXRoX3VzZXJfaWQiOiIxIiwiX2F1dGhfdXNlcl9iYWNrZW5kIjoiZGphbmdvLmNvbnRyaWIuYXV0aC5iYWNrZW5kcy5Nb2RlbEJhY2tlbmQiLCJfYXV0aF91c2VyX2hhc2giOiI3ODNjY2RjZmE2ODc0N2YzNmUzNTJlMGJiMmU2NmQ5OGQ0ZjMyYTZlIn0=','2021-03-26 01:55:56.429255');
INSERT INTO "django_session" VALUES('djbykv3owhsssgndzmxgx54nbg8r384t','.eJxVjDsOwjAQBe_iGllr-ZMNJT1nsJzdNQ4gW4qTCnF3iJQC2jcz76Vi2tYSty5LnFmdlVGn321K9JC6A76nemuaWl2XedK7og_a9bWxPC-H-3dQUi_fGgxnguyFIVCwgoMVtuiB7MCSBb13NiQgcIaZR0EcLSJCpkycnXp_APPfOHg:1lOndo:_p1JTa1zltGchwL18utbMLEY4GjE63gEwY3rGT0rHJ8','2021-04-06 20:28:40.835998');
INSERT INTO "django_session" VALUES('rxqwtokcy46hrbzlh6uh668pkqbnqbw2','.eJxVjDsOwjAQBe_iGllr-ZMNJT1nsJzdNQ4gW4qTCnF3iJQC2jcz76Vi2tYSty5LnFmdlVGn321K9JC6A76nemuaWl2XedK7og_a9bWxPC-H-3dQUi_fGgxnguyFIVCwgoMVtuiB7MCSBb13NiQgcIaZR0EcLSJCpkycnXp_APPfOHg:1lr76w:byZxrG_JBoQFiJigZ_NbznEnjDnwEF1njii1Jr08yhM','2021-06-23 22:55:46.869935');
CREATE UNIQUE INDEX "auth_group_permissions_group_id_permission_id_0cd325b0_uniq" ON "auth_group_permissions" ("group_id", "permission_id");
CREATE INDEX "auth_group_permissions_group_id_b120cbf9" ON "auth_group_permissions" ("group_id");
CREATE INDEX "auth_group_permissions_permission_id_84c5c92e" ON "auth_group_permissions" ("permission_id");
CREATE UNIQUE INDEX "auth_user_groups_user_id_group_id_94350c0c_uniq" ON "auth_user_groups" ("user_id", "group_id");
CREATE INDEX "auth_user_groups_user_id_6a12ed8b" ON "auth_user_groups" ("user_id");
CREATE INDEX "auth_user_groups_group_id_97559544" ON "auth_user_groups" ("group_id");
CREATE UNIQUE INDEX "auth_user_user_permissions_user_id_permission_id_14a6b632_uniq" ON "auth_user_user_permissions" ("user_id", "permission_id");
CREATE INDEX "auth_user_user_permissions_user_id_a95ead1b" ON "auth_user_user_permissions" ("user_id");
CREATE INDEX "auth_user_user_permissions_permission_id_1fbb5f2c" ON "auth_user_user_permissions" ("permission_id");
CREATE INDEX "django_admin_log_content_type_id_c4bce8eb" ON "django_admin_log" ("content_type_id");
CREATE INDEX "django_admin_log_user_id_c564eba6" ON "django_admin_log" ("user_id");
CREATE UNIQUE INDEX "django_content_type_app_label_model_76bd3d3b_uniq" ON "django_content_type" ("app_label", "model");
CREATE UNIQUE INDEX "auth_permission_content_type_id_codename_01ab375a_uniq" ON "auth_permission" ("content_type_id", "codename");
CREATE INDEX "auth_permission_content_type_id_2f476e4b" ON "auth_permission" ("content_type_id");
CREATE INDEX "django_session_expire_date_a5c62663" ON "django_session" ("expire_date");
CREATE INDEX "base_task_user_id_63dd9a3b" ON "base_task" ("user_id");
DELETE FROM "sqlite_sequence";
INSERT INTO "sqlite_sequence" VALUES('django_migrations',24);
INSERT INTO "sqlite_sequence" VALUES('django_admin_log',4);
INSERT INTO "sqlite_sequence" VALUES('django_content_type',9);
COMMIT;
